@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

:root {
    --primary: hsl(0, 100%, 67%);
    --secondary: hsl(39, 100%, 56%);
    --tertiary: hsl(166, 100%, 37%);
    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persion-blue-circle: hsla(241, 72%, 46%, 0);
    --stale-blue: hsl(234, 85%, 45%);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --info: hsl(52, 100%, 69%);
    --success: hsl(141, 71%, 48%);
    --warning: hsl(45, 100%, 51%);
    --danger: hsl(354, 100%, 56%);
    --shadow: 0 15px 25px hsla(241, 100%, 89%, 20%), 0 10px 20px hsla(241, 100%, 89%, 20%);
}

html {
    font-size: 18px;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.outer-container {
    flex-basis: 730px;
    height: 510px;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.result-section {
    background-color: var(--stale-blue);
    flex-basis: 50%;
}

.summary-section {
    background-color: var(--white);
    flex-basis: 50%;
}

.skill-result {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-gray-blue);
}

.skill-title {
    display: inline-block;
}